body {
    background-color: #172b4d;
}
.container {
    margin: 0 auto;
    width: 315px;
    height: 4210px;
    background-color: #fff;
    background-image: url('img/background.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .top-header {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header-item {
    order: 1;
    margin-top: 65px;
  }
  .logo {
    align-self: flex-start;
    font-family: "poppins", sans-serif;
    height: 25px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }
  ul {
    margin-left: -35px;
  }
  li {
    list-style-type: none;
  }
  .social {
    display: flex;
    list-style: none;
  }
  
  .social img {
    height: 20px;
    margin-right: 20px;
  }
  .icon {
    transition: all 0.2s ease;
  }
  
  .icon:hover {
    margin-top: -5px;
    width: fit-content;
  }
  
  .icon:enabled {
    transform: rotate(320deg);
  }