body {
    background-color: #172b4d;
}
.container {
    margin: 0 auto;
    width: 315px;
    height: 4210px;
    background-color: #fff;
    background-image: url('img/background.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .top-header {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }